<div class="Featured_logos_outer_bg">
  <div class="Featured_logos_outer">
      {% for block in section.blocks %}
          <div>
              <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
          </div>
      {% endfor %}
      {% for block in section.blocks %}
          <div>
              <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
          </div>
      {% endfor %}
      {% for block in section.blocks %}
          <div>
              <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
          </div>
      {% endfor %}
      {% for block in section.blocks %}
        <div>
            <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
        </div>
    {% endfor %}
    {% for block in section.blocks %}
        <div>
            <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
        </div>
    {% endfor %}
    {% for block in section.blocks %}
        <div>
            <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
        </div>
    {% endfor %}
    {% for block in section.blocks %}
      <div>
          <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
      </div>
  {% endfor %}
  {% for block in section.blocks %}
      <div>
          <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
      </div>
  {% endfor %}
  {% for block in section.blocks %}
      <div>
          <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
      </div>
  {% endfor %}
  {% for block in section.blocks %}
    <div>
        <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
    </div>
{% endfor %}
{% for block in section.blocks %}
    <div>
        <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
    </div>
{% endfor %}
{% for block in section.blocks %}
    <div>
        <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
    </div>
{% endfor %}
  </div>
</div>

<style>
  #shopify-section-{{section.id }} .Featured_logos_outer{
    animation: slide {{section.settings.speed_desktop}}s infinite linear;
  }
  @media only screen and (max-width: 767px) {
    #shopify-section-{{section.id }} .Featured_logos_outer{
      animation: slide {{section.settings.speed_mobile}}s infinite linear;
    }
  }
</style>
{% schema %}
  {
    "name": "Featured Logos",
    "settings": [
      {
        "type":"range",
        "id":"speed_desktop",
        "label":"Speed Desktop",
        "min":60,
        "step":10,
        "max":300,
        "default":70
      },
      {
        "type":"range",
        "id":"speed_mobile",
        "label":"Speed Mobile",
        "min":60,
        "step":10,
        "max":300,
        "default":80
      }
    ],
    "blocks": [
        {
          "name": "logo",
          "type": "Logo",
          "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Your Image"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Featured Logos"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}