<div class="Slideshow_outer">
  {% for block in section.blocks %}
    <div class="Slideshow_slide_outer">
      <div class="Slideshow_slide_inner">
        <div>
          {% if block.settings.headline != blank %}
            <h1>{{ block.settings.headline }}</h1>
          {% endif %}
          {% if block.settings.info != blank %}
            <div class="Slideshow_text">{{ block.settings.info }}</div>
          {% endif %}
          <img loading="lazy" class="Slideshow_reviews" src="https://cdn.shopify.com/s/files/1/0839/5941/5099/files/Trustpilot_Micro.png?v=1701456473">
          <div class="Slideshow_buttons">
            {% if block.settings.button_title_1 != blank %}
              <div>
                <a class="Slideshow_primary_button" href="{{ block.settings.button_url_1 }}">{{ block.settings.button_title_1 }}</a>
              </div>
            {% endif %}
            {% if block.settings.button_title_2 != blank %}
              <div>
                <a class="Slideshow_secondary_button" href="{{ block.settings.button_url_2 }}">{{ block.settings.button_title_2 }}</a>
              </div>
            {% endif %}
          </div>
        </div>
        <div>
          <div class="Slideshow_image_box">
            <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
            {% if block.settings.image != blank %}
            <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Slideshow Hero",
    "settings": [
    ],
    "blocks": [
        {
          "name": "slide",
          "type": "Slide",
          "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Your Image"
            },
            {
                "type": "text",
                "id": "headline",
                "label": "Your Headline",
                "default":"Superlicious candies"
            },
            {
                "type": "richtext",
                "id": "info",
                "label": "Your Text",
                "default":"<p>Superlicious candies lorem ipsum</p>"
            },
            {
                "type": "header",
                "content": "Buttons"
            },
            {
                "type": "text",
                "id": "button_title_1",
                "label": "Button Title 1",
                "default":"Shop now"
            },
            {
                "type": "url",
                "id": "button_url_1",
                "label": "Button Url 1"
            },
            {
                "type": "text",
                "id": "button_title_2",
                "label": "Button Title 2",
                "default":"Shop now"
            },
            {
                "type": "url",
                "id": "button_url_2",
                "label": "Button Url 2"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "New Slideshow"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}